body {
    font-family: calibri;
}

table {
    /* border: 1px solid #333; */
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

caption {
    font-size: 35px;
    color: #333;
    margin-bottom: 10px;
    text-align: left;
}

th, td {
    border-bottom: 1px solid #ccc;
    width: 25%;
    text-align: center;
    line-height: 40px;
}

thead tr, tfoot tr {
    background-color: #ccc;
}

tbody tr:hover {
    background-color: #e4e4e4;
}